.basic-container {
    padding-left: 15px;
    padding-right: 15px;
}

.svstars.stars-sm {
    padding: 0;
}

#main-heading {
    padding: 0;
    font-weight:600;
}

.h1desc {
    padding: 0;
}

.hero .banner .stars-group-lg,
.hero .banner-img,
.hero .packages-md {
    display: none;
}

.hero .banner #delivered_notif .liveholder {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.hero .packages-section {
    text-align: start;
}

.hero .newmobilepackages {
    position: relative;
    height: 900px;
    overflow: hidden;
}

.hero .newmobilepackages .viewMorePackages {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    height: 150px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 0) 100%);
}

.hero .newmobilepackages .viewMorePackages button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 100px;
    width: 100%;
    max-width: 257px;
    margin: 0 auto;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border: solid 1px black;
}

@media only screen and (min-width: 360px) {
    #main-heading {
        font-size: 32px;
    }
}

@media only screen and (min-width: 375px) {
    #main-heading {
        font-size: 34px;
    }
}

@media only screen and (min-width: 390px) {
    #main-heading {
        font-size: 36px;
    }
}

@media only screen and (min-width: 414px) {
    #main-heading {
        font-size: 38px;
    }
}

@media only screen and (min-width: 428px) {
    #main-heading {
        font-size: 40px;
    }
}

@media only screen and (min-width: 575px) {
    #main-heading {
        margin-bottom: 0;
    }

    .hero {
        background: linear-gradient(180deg, #FAF5FF 21.14%, #FFF 30.47%);
    }

    #delivered_notif {
        display: block;
    }

    .hero .packages-section {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .basic-container {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero {
        background: transparent;
        padding-top: 0;
        text-align: initial;
        padding-bottom: 0;
    }

    .hero *,
    .hero *::before,
    .hero *::after {
        box-sizing: border-box;
    }

    .hero .banner {
        position: relative;
        padding: 48px 0 42px;
        background: linear-gradient(180deg, transparent 51.07%, #FFE9E2 77.42%, rgba(255, 172, 146, 0.69) 100%);
    }

    .hero .banner .stars-group-lg {
        display: flex;
        gap: 2px;
        margin-bottom: 10px;
    }

    .hero .banner .stars-group-lg .star {
        width: 28px;
        height: 28px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #00800D;
    }

    .hero .banner .stars-group-lg .star svg {
        width: 18px;
        height: 18px;
    }

    .blur-spread1,
    .blur-spread2 {
        position: absolute;
        z-index: -1;
        transform: rotate(-9.248deg);
        opacity: 0.3;
        background: #8B63FF;
        filter: blur(102.5px);
        pointer-events: none;
    }

    .blur-spread1 {
        width: 304.72px;
        height: 166.004px;
        border-radius: 304.72px;
        left: -11%;
        top: -21%;
    }

    .blur-spread2 {
        width: 415.265px;
        height: 227.074px;
        border-radius: 415.265px;
        left: 33%;
        top: -30%;
    }

    #main-heading {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: start;
        font-size: 50px;
    }

    #main-heading img {
        width: 50px;
        height: 50px;
    }

    .h1desc {
        margin: 0;
        width: unset;
        text-align: start;
        padding: 0;
    }

    #main-heading,
    .h1desc {
        max-width: 550px;
    }

    .hero .banner-img {
        display: block;
        border-radius: 35px;
        position: absolute;
        z-index: 999;
        transform: scale(0.48);
        transform-origin: top right;
        top: -5px;
        right: 30px;
        overflow: hidden;
    }

    .hero .banner-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .hero .banner #delivered_notif .liveholder {
        font-size: 15px !important;
    }

    .hero .banner #delivered_notif .liveholder .livebox {
        padding: 10px;
        padding-left: 28px;
    }

    .hero .banner #delivered_notif .liveholder .livebox svg {
        top: 15px !important;
    }

    .hero .packages-section {
        padding-top: 35px;
        text-align: start;
    }

    .hero .packages-section .listctnmobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 435px;
        margin-bottom: 27px;
    }

    .hero .packages-section .listctnmobile li {
        width: 210px;
        padding-left: 25px;
    }

    .hero .packages-section .listctnmobile li .tick {
        width: 17px;
        height: 17px;
    }

    .hero .newmobilepackages {
        display: none;
    }

    .hero .packages-md {
        position: relative;
        display: block;
    }

    .hero .packages-md::after {
        background: linear-gradient(90deg, rgba(250, 250, 250, 0), #FAFAFA);
        content: "";
        height: 100%;
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        z-index: 999;
    }

    .hero .packages-md .swiper-container {
        position: relative;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-left: 10px;
    }

    .hero .packages-md .swiper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 40px 0;
        width: 1700px;
        gap: 20px;
        cursor: grab;
    }

    .hero .packages-md .indicator {
        position: absolute;
        top: 0;
        bottom:0;
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent;
        z-index: 1000;
        cursor: pointer;
    }

    .hero .packages-md .indicator:disabled {
        display: none;
    }

    .hero .packages-md .indicator.prev {
        left: 10px;
    }

    .hero .packages-md .indicator.next {
        right: 10px;
    }

    .hero .packages-md .card-package {
        position: relative;
        width: 120px;
        padding: 20px 12px 24px;
        border-radius: 8px;
        border: 2px solid #E1E1E1;
        background: #FFF;
        box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.10);
        text-align: center;
    }

    .hero .packages-md .card-package.popular::before {
        position: absolute;
        top: -40px;
        right: 50%;
        transform: translateX(50%);
        content: "Best Selling";
        background-color: #4D05BC;
        border-radius: 8px 8px 0 0;
        width: 82px;
        padding: 5px 0;
        padding-top: 2px;
        border: 1px solid #4D05BC;
        border-bottom: none;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        line-height: 15px;
    }

    .hero .packages-md .card-package.popular {
        border-color: #4D05BC;
    }

    .hero .packages-md .card-package .quantity {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: -3px;
    }

    .hero .packages-md .card-package .label {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
    }

    .hero .packages-md .card-package .seperator {
        height: 1px;
        background-color: #EDEDED;
        margin: 8px 0;
    }

    .hero .packages-md .card-package .amount {
        color: #12972F;
    }

    .hero .packages-md .card-package .amount .currency {
        font-size: 13px;
        font-weight: 300;
    }

    .hero .packages-md .card-package .amount .value {
        font-size: 19px;
        font-weight: 500;
    }

    .hero .packages-md .card-package .btn-primary {
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        padding: 10px;
        margin: 0;
        margin-top: 20px;
    }
}

@media only screen and (min-width:992px) {
    #main-heading {
        max-width: 528px;
    }

    .hero .banner-img {
        transform: scale(0.55);
        top: -8px;
    }

}

@media only screen and (min-width:1200px) {
    :root {
        --hero-max-width: 980px;
    }

    .basic-container {
        max-width: var(--hero-max-width);
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }

    .hero .banner-img {
        right: 0;
    }

    .hero .packages-md .swiper-container {
        padding-left: calc(((100% - var(--hero-max-width)) / 2) - 20px);
    }
}