body
{
	font-family: arial, Verdana, sans-serif;
	font-size: 12px;
	color: #222;
	background-color: #fff;
}

p{font-family: arial;}

p.imgcaption{background-color:#ccc;padding:5px;font-weight:600;font-size:15px;font-family: arial;}