@font-face {
    font-family: 'Alliance No.2';
    src: url('../fonts/AllianceNo2-SemiBold.woff2') format('woff2'),
        url('../fonts/AllianceNo2-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

body {
    margin: 0;
    background: #F8F8F8;
}


h1 {
    font-family: 'Alliance No.2';
    font-size: 50px;
    margin-top: 85px;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    width: auto;
    z-index: 9999;
}

#popup .websites .btn-logo {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.11);
    width: 47%;
    height: 130px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.color3 {
    background-color: #4d05bb;
    color: #FFF;
}

button,
a,
.btn {
    cursor: pointer;
}


.btn {
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    font-family: 'Alliance No.2';
}

.btn-primary {
    background-color: #09B5FF;
    color: #FFF;
    border-radius: 6px;
}

.btn-primary:hover {
    background-color: #0044ff;
}

.btn-black-bd {
    background-color: transparent;
    border: 1px solid #000;
}

.btn-black-bd:hover {
    background-color: #000;
    color: #FFF;
}

.btn-white-bd {
    background-color: transparent;
    color: #FFF;
    border: 2px solid #FFF;
}

.btn-white-bd:hover {
    color: #000;
    background-color: #FFF;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    color: #FFF;
    background-color: transparent;
    font-weight: 600;
    border: none;
    font-size: 18px;
    padding: 0;
}

.dropdown-toggle .icon {
    margin-left: 7px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    top: 48px;
    left: 0;
    background-color: #000;
    z-index: 1;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    white-space: nowrap;
    width: max-content;
    z-index: 9998;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    text-align: left;
}

.dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #FFF;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 20px 12px 12px;
}

.dropdown-menu a:hover {
    background-color: #444;
}

.main-container {
    padding: 0 20px;
}

.header {
    min-height: 55px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
}

.header .navigation-mobile {
    display: none;
}

.header .logo {
    display: inline-block;
}

.header .navigation .nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header .navigation .nav-item a {
    color: #FFF;
    font-weight: 600;
    text-decoration: none;
}

.header .tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

.header .tabs .seperator {
    width: 1px;
    height: 18px;
    background: #BDBDBD;
}

.header .tabs .tab {
    color: #FFF;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 600;
}

.header .tabs .tab.active {
    color: #08B5FF;
    border-bottom: 2px solid #08B5FF;
}

.header .tabs .navigation-search {
    display: none;
}

.websites {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.websites .btn-logo {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.11);
    width: 126px;
    height: 38px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.websites .btn-logo.active {
    border: 1.5px solid #09B5FF !important;
}

.form-common .input-group label {
    margin-bottom: 5px;
}

.form-common .input-group .input-container {
    width: 100%;
}

.form-common .input-container .input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb;
    outline: none;
}

.success {
    background: #a3ffa3;
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 780px) {

    .header nav,
    .header nav.tabs {
        display: none;
    }

    .header nav.navigation-mobile {
        display: block;
        width: 100%;
    }

    .header .navigation-mobile .nav-top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        min-height: 55px;
    }

    .header .navigation-mobile .nav-top-row .mobile-menu-toggler {
        padding: 0;
        border: none;
        background: transparent;
        width: 28px;
        height: 28px;
    }

    .header .navigation-mobile .full-menu-mobile {
        border-top: 1px solid #FFF;
        display: none;
    }

    .header .navigation-mobile .full-menu-mobile.active {
        display: block;
    }

    .header .navigation-mobile .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .header .navigation-mobile .nav-list .nav-item {
        padding: 10px 0;
    }

    .header .navigation-mobile .nav-list .nav-item:not(:last-child) {
        border-bottom: 1px solid #FFF;
    }

    .header .navigation-mobile .nav-list .dropdown-toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header .navigation-mobile .nav-list .dropdown-toggle .icon {
        margin-right: 10px;
    }

    .header .navigation-mobile .nav-list .dropdown-menu {
        position: static;
        width: 100%;
    }

    .header .navigation-mobile .nav-list .dropdown-menu li {
        border-bottom: unset;
    }
}

@media (min-width: 1200px) {
    .header .tabs .dropdown-mobile {
        display: none;
    }

    .header .tabs .navigation-search {
        display: flex;
        align-items: center;
    }

    .header .tabs .navigation-search .nav-list {
        display: flex;
        margin: 0;
        margin-left: 20px;
        padding: 0;
    }

    .header .tabs .navigation-search .nav-list .nav-item:not(:last-child) {
        margin-right: 20px;
    }

    .header .tabs .navigation-search .nav-list .nav-item a {
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }
}