



body{background:#fff;padding-bottom: 70px;}

h1,.container div.h1{color:#000;text-align: left;width:100%;font-size: 36px;
    max-width: 70%;
    margin-top: 0;}

h1,.container div.h1{    color: #000;
    text-align: left;
    width: 100%;
    font-size: 24px;
    max-width: 100%;
    margin-top: 0;
    padding-top: 0;margin-bottom:30px;}

.darkmobileheader{    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 65px;
    background: #fff;
    z-index: 9000;}

.darkmobileheader a{float:left;width:33%;overflow:hidden;position: relative;height: 100%;}
.darkmobileheader a img{    width: 30px;
    height: 30px;
    top: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;}

.darkmobileheader a img.active{display:none;}
.darkmobileheader a.activelink img{display:none;}
.darkmobileheader a.activelink img.active{display:block;}

.darkmobileheader a span{    font-size: 11px;
        margin-top: 45px;
    display: block;}



.darkheader{display:none;}


.headerorder{    background: #fff;
    text-align: center;
    height: 75px;}
.headerorder .cnwidth{width:100%;}
.headerorder .cnwidth .backto{    float: left;
    position: absolute;
    padding-left: 20px;
    line-height: 15px;
    margin-top: 15px;
    font-weight: bold;
    margin-left: 12px;
    color: #fff;
    left: 0;
    top: 15px;}
.headerorder .cnwidth .backto svg{    position: absolute;
    left: 0;
    height: 28px;
    top: -6px;}
.headerorder .cnwidth .logo2{width:189px;height:32px;float:none;margin: 0 auto;    padding-top: 11px;position:relative;}
 .headerorder .cnwidth .logo2 .since2012{bottom: -20px;}



.orderbody{width:100%;overflow:hidden;}

.container{height:initial;width:100%;padding: 22px;box-sizing:border-box;margin-top:40px;}


.container.dshadow{    -webkit-box-shadow: unset; -moz-box-shadow: unset;box-shadow: unset;}

.container div{text-align: left;}
.container div span,.container label{font-size:15px;color:#8c8c8c;display:block;margin-top:20px;}
.container div input,.selectric,.input,.btn{    padding: 15px;
    width: 100%;
    font-size:18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    margin-top: 9px;
    box-sizing: border-box;outline:0;}

.container div input:focus{border:1px solid #4e03e0;}


.container2{padding:20px 15px;}
.container2:nth-child(3){margin-top:30px;}
.container2 .ordertbl{    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;width:100%;
    border-radius: 5px; border: 1px solid #f5f7fd;display:inline-block;overflow:hidden;}
   

.container2 .ordertbl .orderheader{height: 57px;
    background: #f5f7fd;
    
}


.sign-wrap{height: initial;
    padding: 2px!important;
    background: #ececec!important;}

.tycontainer{padding:15px;}

.thewidth{width:100%;padding: 0 20px;
    box-sizing: border-box;}
.thewidth .thewidthleft{width:70%;float:left;display:block;}
.thewidth .thewidthleft .package{font-size: 16px;
    margin-top: 0;
    color: #000;}
.thewidth .thewidthleft .username{    color: #9e9e9e;
    font-size: 14px;
    margin-top: 5px;}
    .thewidth .thewidthleft .dp{margin-top:10px;}
.thewidth .thewidthright{width:30%;float:right;display:block;text-align: right;position: relative;}

.thewidth div{padding:10px 0;}

.summary,.finalsummary{     height: initial;
    border-top: 1px solid #ccc;
    display: inline-block;}

.summary{font-size:15px;margin-top:10px;}
.finalsummary{font-size:17px;}


.btn{font-size:16px;margin-bottom:39px;-webkit-border-radius: 30px!important;-moz-border-radius: 30px!important;border-radius: 30px!important;-webkit-appearance: none;    margin-top: 30px!important;padding: 17px;}

.container .password_verify{height: 25px;margin:0;position: relative;padding-left:25px;    line-height: 29px;}
.container .password_verify input{    float: left;
    width: initial;position: absolute;left:0;}

.basiclink{text-decoration:underline;color:#1a73e7;}

.notifmsg{    background: #ffadb8;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
margin-top:20px;}

.desktopnav li a{color: #717171;}
.desktopnav li:hover a{color: #000;}



  /* Example 2 (login form) */
.login_form.modal {
  border-radius: 0;
  line-height: 18px;
  padding: 0;
}

.login_form.modal div input{    padding: 15px;
width: 100%;
font-size: 18px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #bbb;
margin-top: 9px;
box-sizing: border-box;
outline: 0;}

.login_form.modal div { padding: 20px 30px; border-bottom: 1px solid #ddd; margin: 0;
  overflow: hidden;
}
.login_form.modal div:last-child { border: none; }
.login_form.modal div label { float: left; font-weight: bold; color: #333; font-size: 13px;line-height: 22px;width: 100%;
display: block;}
.login_form.modal div input[type="text"],
.login_form.modal div input[type="email"],
.login_form.modal div input[type="password"] {
}


.login_form.modal .reg-block{   border-bottom: 1px solid #ccc;
padding-bottom: 32px;
padding-left: 25px;
padding-top: 0px;}
.login_form.modal .reg-block div{border-bottom: 0;padding:0;display:block;}

.login_form h3 {
margin: 0;
padding: 26px;
color: #000;
font-size: 33px;
width: 100%;
box-sizing: border-box;
font-family: 'Mulish';
line-height: 34px;
}

.error {
    padding: 0 0 0 112px;
    color: red;
    font-size: 13px;
    float: left;
}

.footer{display:none!important;}

@media only screen and (min-width: 440px) {

body{padding:0;}

.darkheader{background-color: #fff;
    height: 50px;
    padding: 10px 0 0 0;
    overflow: hidden;
    display: block;
    border: 1px solid #ccc;}

.darkheader .cnwidth{  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;width:100%;height:100%;    padding-top: 10px;
    padding-left: 24px;}

.darkheader .cnwidth::-webkit-scrollbar{display:none;}

.darkheader .cnwidth a{    height: 100%;
    margin-right: 30px;
    padding-top: 10px;
    font-weight: 600;}


.darkmobileheader{display:none;}

}



@media only screen and (min-width: 768px) {




body{background:#f5f7fe;}

.darkheader .cnwidth{width:95%;}

.darkheader .cnwidth{width:85%;max-width: 95%;  padding-top:0;
    padding-left: 0;}

.darkheader .cnwidth a{float:left;display:block;}

h1,.container div.h1{color:#000;width:100%;font-size: 36px;
    margin-top: 0;}

.headerorder .cnwidth .backto svg{position: absolute;left:0;height: 23px;
    top: -4px;}

.container{height:initial;width:700px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;background-color:#fff;padding: 37px 9%;box-sizing:border-box;}

.container2 .ordertbl{    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;width:100%;
    border-radius: 5px;border:1px solid #ccc;display:inline-block;overflow:hidden;}

}



@media only screen and (min-width: 992px) {

  .headerorder .cnwidth .logo2 {}

.container{width:900px;}

}

@media only screen and (min-width: 1200px) {

    /* .darkheader .cnwidth{width:72%;max-width: 95%;  padding-top:0;
        padding-left: 0;}
   */
   .logoMin1200{
    float:left;
    }
}

@media only screen and (max-width: 1024px){

    .accHeaderMax1024 {
        float: left;
        margin-left: 20px;
    }
}
