

a, font, input, td, div{font-family:'Mulish',Arial; -moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;}

a{text-decoration: none;color: #4e5c75;}



body{font-family:'Mulish',Arial; margin:0;padding:0; -moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;}

body,input,textarea{letter-spacing: 0.3px;}



h3{color:#000;}



.cnwdith,.fe .leftside .cnwidth{padding: 0 28px;width:100%;box-sizing:border-box;}

.color1{background-color: #f5f7fe;}



.header{    height: 65px;

    padding: 9px 15px;

    box-sizing: border-box;

    width: 100%;

    background: #fff;

}



.mobilemenubtn{margin-top:9px;}



.headerMenuUI{

    float: left !important;

}



.logo{display: inline-block;}



.logo img{}

.logo svg{    width: 164px;

    height: 36px;}

.navigation{float:right;}



.dropdown-content {

  display: none;

  background-color: #f1f1f1;

    background-color: #f1f1f1;

    width: 100%;

}



.dropdown-content a {

  color: black;

  padding: 12px 16px;

  text-decoration: none;

  display: block;

}



.show {display: block;}



.footer{    padding: 15px;

    box-sizing: border-box;

    width: 100%;

    background: #fff;border-top:1px solid #ccc;}



.footer .row1{text-align: left;}



.footer .row1 .logo {

    position: relative;

    float: none;

    height: 47px;

    width: 100%;

    display: block;

    float: none;

    padding: 15px 0;

}



.footer .row1 .footerlinks{width: 100%;

    padding: 0;

    list-style: none;

    margin: 0;

    margin-bottom: 30px;}

.footer .row1 .footerlinks li{padding:0;font-size:14px;}

.footer .row1 .footerlinks li:first-child{font-weight: bold;font-size:16px;}

.footer .row1 .footerlinks li a{color:#000;}

.footer .row1 .footerlinks li a:hover{text-decoration: underline;}



.footer .row2{    text-align: left;}



.footer  .row2 .accepted{width:320px;height:28px;margin-top:15px;background: url('/imgs/all-images.png') 0 0;}

.footer  .row2 .copyright{color:#737373;font-size: 14px;}





.error{display:none!important;font-size:14px;color:#ff2626!important;    margin: 0!important;}



.fe{width:100%;padding-bottom:20px;text-align:left;}

.se1{text-align: center;padding: 20px;}



.btn{color:#fff;background: #2847ff;display:block;width:250px;padding:12px;-webkit-border-radius: 5px;

-moz-border-radius: 5px;

border-radius: 5px;margin:5px auto;font-weight:bold;text-align: center;font-size: 17px;}



.btn:hover{cursor: pointer;}



.btn2{color:#000;background:#fff;margin-bottom:10px;}



h1{font-size:31px;padding-top:17px;margin:0;}

h2{font-size:23px;}







.bgbg{background-image: url('/imgs/header-bg.png');}



.fedesc{}





.se1desc{font-size:13px;display:block;text-align:center;margin-bottom:25px;}



.steps{text-align: center;

    height: initial;margin-bottom:57px;}

 .step1{margin-top:20px;}

 .step3{margin-bottom:0;}

.steps .title {display: inline-block;

    width: 100%;}

.steps .title svg{    position: relative;

    width: 110px;}

.steps p{    font-size: 13px;

    margin-top: 0;}

.steps h3{    width: 100%;

    float: none;

    margin-left: 0;

    box-sizing: border-box;

    height: 12px;}



.choosepointsul{    margin: 0;

    padding: 0;}



.choosepointsul li{    background: #fff;

    width: 100%;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;

    box-sizing: border-box;

    display:inline-block;

    text-align: left;

    padding-left:71px;

    position:relative;

}





.choosepointsul li p{display:block;font-size:12px;}

.choosepointsul li svg{    width: 42px;

    position: absolute;

    left: 12px;

    top: 26%;

    fill: url(#color3) #479;}

.choosepointsul li h3{margin-left: 0;

    display: block;

    width: 100%;

    margin-bottom: 5px;}



h3{display: block;

    /* height: 100%; */

    font-weight: 400;

    margin-top: 30px;

    font-size: 18px;}



.cnp{font-size:15px;color: #656565;text-align:left;}



.container{

  overflow: hidden;height:250px;





}



.testbtn{background:#2e00f4;overflow: hidden}



.sliding-background {

  background: url("/imgs/scrolling-div.png") repeat-x;

  height: 149px;

  width: 5000px;

  animation: slide 40s linear infinite;margin-top:50px;

}



@keyframes slide{

  0%{

    transform: translate3d(0, 0, 0);

  }

  100%{

    transform: translate3d(-1221px, 0, 0);

  }

}



.dshadow{

-webkit-box-shadow: -1px 0px 5px 1px rgba(230,230,230,1);

-moz-box-shadow: -1px 0px 5px 1px rgba(230,230,230,1);

box-shadow: -1px 0px 5px 1px rgba(230,230,230,1);

}



.dshadow2{-webkit-box-shadow: 0px 0px 4px 0px rgba(93,29,153,1);

-moz-box-shadow: 0px 0px 4px 0px rgba(93,29,153,1);

box-shadow: 0px 0px 4px 0px rgba(93,29,153,1);}



.testimonial{padding: 0 35px;font-size:13px;font-style: italic;}

.testbtn{ width: 60px;

    height: 37px;

    -webkit-border-radius: 4px;

    -moz-border-radius: 4px;

    border-radius: 4px;

    margin: 5px auto;

    border:1px solid #2100ae;}

.testbtn a{padding: 7px;display:block;float:left;}

.testbtn .bordertest{border-right:1px solid #2100ae;}



 .speechmark{height:30px;position:absolute;    top: 30px;

    left: 0px}

 .sm2{    right: 0;

    left: unset;}



.packages{    text-align: center;

    margin-bottom: 30px;

    padding: 10px 17px;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;

    margin-bottom: 18px;}

.packages svg{width: 50px;margin: 0 auto;fill: url(#color3) #479;}

.packages a{}







#slides{

    position: relative;

    height: 150px;

    margin: 0px;

    list-style-type: none;

    font-size: 13px;

    font-style: italic;

}



.slide{

    position: absolute;

    left: 0px;

    top: 0px;

    width: 100%;

    height: 100%;

    opacity: 0;

    z-index: 1;

    padding: 0 35px;

    -webkit-transition: opacity 1s;

    -moz-transition: opacity 1s;

    -o-transition: opacity 1s;

    transition: opacity 1s;

        box-sizing: border-box;

}



.showing{

    opacity: 1;

    z-index: 2;

}



.desktopnav{display:none;}





/* BUY PAGES */



.showmo{margin-top: 15px;}



        .socialproof1{display:none;}

        .socialproof2{width:100%;}



    

        .bs{height: 100%;

        position: absolute;

        width: 90px;

        z-index: 2;display: block;}



        .bs.left{left:0;

                    background: -moz-linear-gradient(left, #f5f7fe 0%, rgba(255,255,255,0) 100%);

        background: -webkit-linear-gradient(left,  #f5f7fe 0%,rgba(255,255,255,0) 100%);

        background: linear-gradient(to right,  #f5f7fe 0%,rgba(255,255,255,0) 100%);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7fe', endColorstr='#00f5f7fe',GradientType=1 );

        }



        .bs.right{right:0;

        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, #f5f7fe 100%);

        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,#f5f7fe 100%);

        background: linear-gradient(to right,  rgba(255,255,255,0) 0%, #f5f7fe 100%);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f7fe', endColorstr='#f5f7fe',GradientType=1 );

        }



    .owlcontainer{width: 100%;

    z-index: 2;position:relative;margin:auto;height:580px;}



    .owl-theme .item{background:#fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin-top:45px;}

    

    .owl-theme  .item .pricecut{position: absolute;

    margin: 0 auto;

    top: 13px;

    font-size: 14px;

    left: 0;

    right: 0;

    display: inline-block;

    background: #febd69;

    width: 140px;

    height: 32px;

    line-height: 32px;

    -webkit-border-top-left-radius: 5px;

    -webkit-border-top-right-radius: 5px;

    -moz-border-radius-topleft: 5px;

    -moz-border-radius-topright: 5px;

    border-top-left-radius: 5px;

    border-top-right-radius: 5px;

    border: 1px solid #ccc;

    border-bottom: 0;}



    .owl-theme .item .brought{margin-bottom: 8px;

    margin-top: 0;font-size:13px;font-style: italic;color:#585858;}





    .owl-theme .item .amount{    font-weight: 700;

        padding: 9px 0px;

    font-size: 30px;}

    .owl-theme .item .amount .label{

    font-weight: 400;

    font-size: 16px;

    margin-top: -6px;

    display: block;}

    .owl-theme .item .price{

    line-height: 52px;

    font-size: 39px;}

    .owl-theme .item .mainprice{    display: inline-block;

    font-weight: 300;

    font-size: 34px;}

    .owl-theme .item .price .sign{font-size:16px;}

    .owl-theme .item .price .decimal{font-size:12px;}

    .owl-theme .item .listctn{    list-style: none;

    margin: 0;

    padding: 0;

    font-size: 12px;

    text-align: left;margin-top:5px;

    display: inline-block;}

    .owl-theme .item .listctn li{    margin: 0;

    padding:3px;padding-left: 28px;

    line-height: 30px;

    position:relative;font-weight:bold;}

    .owl-theme .item .listctn li .tick{    width: 20px;

    height: 20px;

    background: url(/imgs/all-images.png) no-repeat 0 -26px;

    display: block;

    position: absolute;

    left: 0;

    top: 9px;

}

    .owl-theme .item .buyctn{padding: 20px 20px 10px 20px;}

    .owl-theme .item .buyctn .btn{width:70%;}



   



    .owl-nav .owl-prev,.owl-nav .owl-next,.owl-theme .owl-nav [class*=owl-],.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{   margin: 10px 0!important;

    padding: 8px!important;

    }



    .owl-prev,.owl-next{border: 1px solid #4100bb;height:40px;}

    .owl-prev{border-right:0;-webkit-border-top-left-radius: 5px;

-webkit-border-bottom-left-radius: 5px;

-moz-border-radius-topleft: 5px;

-moz-border-radius-bottomleft: 5px;

border-top-left-radius: 5px;

border-bottom-left-radius: 5px;}

    .owl-next{-webkit-border-top-right-radius: 5px;

-webkit-border-bottom-right-radius: 5px;

-moz-border-radius-topright: 5px;

-moz-border-radius-bottomright: 5px;

border-top-right-radius: 5px;

border-bottom-right-radius: 5px;}



        .navbtn{    height: 50px;

    width: 50px;

    -webkit-border-radius: 50px;

    -moz-border-radius: 50px;

    border-radius: 50px;

    background: #4e5c75;

    display: block;

    padding-top: 17px;

    box-sizing: border-box;

    position: absolute;

    top:40%;}

    .navbtn svg{height: 18px}

    .customPrevBtn{left: 20px;}

    .customNextBtn{right:20px;}




     /* .informationpt{display:flex ; position: relative;text-align: left;padding-bottom:220px;margin: 30px 0 80px 0;}

    .informationpt h3{display:block;width:100%;margin: 0 0 15px 0;font-size:18px;font-weight:600;}

    .informationpt p, .informationpt ul li{font-size:14px;color:#4c4c4c;}

    .informationpt p a{text-decoration: underline;color:#193054;}

    .informationpt img{position: absolute;bottom:0;width:207px;height:184px;}

    .informationptfi{padding-bottom: 370px;}

    .informationptfi img{    width: 179px;

    height: initial;}  */







    .faqcontainer{text-align: left;}

    .faqcontainer .faqchild .faq{margin-top: 18px;font-size:14px;    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;}

    .faqcontainer .faqchild .faq .opentitle{position:relative;padding:15px 10px;border-bottom: 1px solid #dedede;}

    .faqcontainer .faqchild .faq .opentitle .btnicon{position: absolute;

    right: 9px;

    height: 30px;

    width: 30px;

    top: 10px;

    font-size: 23px;

    line-height: 30px;

    color: #fff;

    text-align: center;

    -webkit-border-radius: 17px;

    -moz-border-radius: 17px;

    border-radius: 17px;}

    .faqcontainer .faqchild .faq .message{padding:10px;display:none;}





    .faqcontainer .faqchild .showfaq{border:1px solid #ccc;background: #fff;}

    .faqcontainer .faqchild .showfaq .opentitle{color:#000;font-weight:bold;}

    .faqcontainer .faqchild .showfaq .message{display:block!important;}

    .faqcontainer .faqchild .showfaq .opentitle .btnicon{}



    .faqcontainer .faqchild .faq .opentitle h3{float: none;

    margin: 0;}





    .reviewbox{text-align: left;background:#fff; -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;box-sizing:border-box;padding:9px;}

    .reviewbox .title{padding-left: 59px;

    position: relative;

    line-height: 54px;}

    .reviewbox .title svg{    left: 12px;

    top: 10px;

    position: absolute;

    height: 30px;}

    .reviewbox input.btn{width:90%;border:0;margin:10px;}

    .reviewinput{text-align: left;}

    .reviewinput tr td{padding:3px;font-size:13px;    vertical-align: top;}

    .reviewinput tr td input,.reviewinput tr td textarea{border:1px solid #ccc;width:100%;padding:3px;box-sizing: border-box;}



    .rating{display:inline-block;position:relative;font-size: 27px!important;

    line-height: 15px!important;}

    .rating label{position:absolute;    top: 3px;

    left: 3px;height:100%;cursor:pointer;}

    .rating label:last-child{position:static;}

    .rating label:nth-child(1){z-index:5;}

    .rating label:nth-child(2){z-index:4;}

    .rating label:nth-child(3){z-index:3;}

    .rating label:nth-child(4){z-index:2;}

    .rating label:nth-child(5){z-index:1;}

    .rating label input{position:absolute;top:0;left:0;opacity:0;}

    .rating label .icon{float:left;color:transparent;}

    .rating label:last-child .icon{color:#000;}

    .rating:not(:hover) label input:checked ~ .icon,.rating:hover label:hover input ~ .icon{color:#2e00f4;}

    .rating label input:focus:not(:checked) ~ .icon:last-child{color:#000;text-shadow:0 0 5px #09f;}



    .testimonialsmainrow{display:inline-block;}



    .testimonialsbox .test{text-align:left;padding: 12px;

        background-color: #f9f9f9;

        border-radius: 5px;

        width: 100%;

        float: left;

        margin: 5px;

        box-sizing: border-box;}

    .testimonialsbox .test .name{font-size: 13px;

        font-weight: 400;

        color: #676767cc;

        margin-top: 9px;

        display: block;}

    .testimonialsbox .test .tratingbg{    height: 27px;

    color: #2e00f4;

    font-size: 19px;

    line-height: 21px;}



    .testimonialsbox .test .review{    margin: 0;

    

    font-size: 13px;

     overflow: hidden;

   text-overflow: ellipsis;

   display: -webkit-box;

   line-height: 16px;

   max-height: 50px; 

   -webkit-box-orient: vertical;

   color: #4e4e4e;    -webkit-line-clamp: 2;

}



    .testimonialsbox{max-height: 475px;

    overflow: hidden;}

    .testimonialsboxsho{overflow-y:scroll;}

    .testimonialsbox .test .testfeat {font-size:12px;color:#ccc;margin-top:7px;}

    .testimonialsbox .test .testfeat a{color:#4f4f4f;}

    .testimonialsbox .test .showmorerev{    overflow: unset;

    max-height: none;

    -webkit-line-clamp: unset;

    -webkit-box-orient: unset;

    text-overflow: unset;}

    .testimonialsbox .test .more{font-size:13px;}







    .testimonialsbox .test .title{font-weight: 700;

    font-size: 13px;    

    float: none!important;

    margin: 0;

    margin-bottom: 10px;

    height:initial;}











    .testp{width: 100%;padding:10px;box-sizing:border-box;float:none;display:none;}

    .testp .testpbox{width:100%;background-color: #f9f9f9;    padding: 28px 14px;

        box-sizing: border-box;-webkit-border-radius: 7px;

    -moz-border-radius: 7px;

    border-radius: 7px;position: relative;height:321px;}

    .testp .testpbox .rating{    color: #2e00f4;

        font-size: 19px;margin-bottom: 23px;}

    .testp .testpbox .quote{    font-size: 14px;margin-bottom: 23px;}

    .testp .testpbox .name{font-size: 14px;

        color: #868b90;

        margin-bottom: 21px;}

    .testp .testpbox .logotest{    position: absolute;

    width: 100%;

    display: inline-block;

    bottom: 20px;

    left: 0;}

    .testp .testpbox .arrow{    background-color: #f9f9f9;width:22px;height:22px;

        -webkit-transform: rotate(45deg) translate(-50%, 0px);

        -ms-transform: rotate(45deg) translate(-50%, 0px);

        transform: rotate(45deg) translate(-50%, 0px);

        position: absolute;

        left: 50%;

        bottom: -19px;}

    .testp .testpimg{text-align: center;margin-top: 37px;}

    .testp .testpimg img{width: 60px;height:60px;border-radius: 30px;}











    .btn3{    color: #000;

    border: 1px solid #000;

    background: transparent;

    font-size: 15px;

    padding: 6px;

    width: 220px;

    font-weight: 400;}



    .emailsuccess{    background: #a3ffa3;

    padding: 8px;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;}



    .emailfailed{background:#ffadb8;}





    .testimonialsbox .test .location{font-size: 13px;

    font-style: italic;}



    .h1desc{width:80%;}



    .owl-theme .item .price {

        height: 72px;

        line-height: 67px;

        font-size: 39px;

    }



    .choosepointsul2{    margin: 0;

    padding: 0;}



.choosepointsul2 li{    background: #fff;

    width: 100%;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;

    box-sizing: border-box;

    display:inline-block;

    text-align: left;

    padding-left:71px;

    position:relative;

}





.choosepointsul2 li p{display:block;font-size:12px;}

.choosepointsul2 li svg{    width: 42px;

    position: absolute;

    left: 12px;

    top: 26%;}

.choosepointsul2 li h3{margin-left: 0;

    display: block;

    width: 100%;

    margin-bottom: 5px;}





    .choosepointsul2 li svg,.choosepointsul2 li svg{fill: url(#color3) #447799;}



        .stickyheader {

      padding: 7px 0;

      background: #fff;

      width: 100%;

      -webkit-transition: position 10s;

      -moz-transition: position 10s;

      -ms-transition: position 10s;

      -o-transition: position 10s;

      transition: position 10s;

      display:none;

      position: fixed;

      top: 0;

      left: 0;

      z-index:9997;

      text-align: center;}



    .cnwidthpackagesh2{margin: 20px 50px;}

    



    .textcolor3{-webkit-background-clip: text;

  -webkit-text-fill-color: transparent;}





@media only screen and (min-width: 768px) {



    .header{    height: 67px;

       padding: 10px 0 0 0;}

.cnwidth{width:95%;display:inline-block;padding: 12px;

    box-sizing: border-box;}



.header .cnwidth{width:95%;max-width: 95%;padding: 0;}



    .fe{display:inline-block;padding-bottom:0;}

    .leftside{float: left;

    width: 100%;

    padding: 23px;

    box-sizing: border-box;}

    .rightside{display:none;width:50%;overflow:hidden;}

    .bgbg{min-height:431px;}



    .steps{height:210px;padding-left:203px;text-align: left}

    .steps p{font-size: 15px;}

    .steps h3{    padding-top: 8px;}

    .steps .title svg {

    position: absolute;

    left: 18px;

    width: 160px;}



    h2{    font-size: 33px;}



    .se1desc{font-size: 16px;margin-bottom:49px;}

    .choosepointsul{    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;

    width: 100%;

    margin: 0;

    padding: 0;

    list-style: none outside none;}



    .choosepointsul li{width:300px;padding-right:10px;}

    .choosepointsul li:nth-child(1){margin-right:15px;}



    .choosepointsul li h3 {height:initial;}



    .se2{display:inline-block;}



    .packages{    float: left;

    width: 225px;

    box-sizing:border-box;

    margin: 7px;}

    .packages .btn{    width: 100%;

    box-sizing: border-box;margin-top:30px;}

    .packages svg{width:70px;}

    .se2 .dshadow{    box-shadow: none;-moz-box-shadow:none;-webkit-box-shadow:none;}



    .packagescentre{margin:auto;float:unset;}





/* BUY PAGES */







        .socialproof1,.socialproof2{float:left;height:100%;display:block;}

        .socialproof1{width:40%;position: relative;}

        .socialproof2{width:60%;}

        .socialproof1 .mobiledemo{}



        .owlcontainer{height:initial;margin-bottom:50px;}



        .d2shadow{box-shadow: 0px 0px 22px -8px rgba(0,0,0,.42);}



        .testp{width: 33%;float:left;display:block;}



        .testimonialsboxalign,.reviewbox{float:left;width:50%;box-sizing:border-box;}

        .custrev{display:inline-block;}

        .testimonialsbox{padding-left: 23px;max-height:428px;}

        .testimonialsbox .test{width:46%;    height: 147px;

    margin: 13px;}



        .reviewinput{width: 100%;}



        .bs {

            height: 100%;

            position: absolute;

            width: 99px;

            z-index: 2;

            display: block;

        }



        .notifsocial{

            position: absolute;

            bottom: 20px;

            left: 58px;

            z-index: 9995 !important;

            width: 270px;

            height: 70px;

            text-align: left;

            box-sizing: border-box;

            font-weight: 400;

            -webkit-border-radius: 6px;

            -moz-border-radius: 6px;

            border-radius: 6px;

            background-color: #fff;

            overflow: hidden;

            margin-left: auto;

            margin-right: auto;

            left: 0;

            right: 0;

            /*display:none;*/



            }



        .notifsocial .notif4{opacity:1;display:block;}



        .notifsocial div{display:none;opacity:0;

            width: 270px;

            height: 70px;    padding: 10px 10px 10px 70px;

            box-sizing: border-box;font-size:14px;position: relative;}



        .notifsocial div .image{opacity:1;display:block;width:50px;height:50px;-webkit-border-radius: 50px;

        -moz-border-radius: 50px;

        border-radius: 50px;background: url('/imgs/displaypictures.jpg') no-repeat;position:absolute;left:10px;padding:0;}

        .notifsocial div .name1{font-weight:bold;}

        .notifsocial div .text{}

        .notifsocial div .time{color: #afafaf;}

         

        .notifsocial div.visual {display:block;opacity: 1;}



        .notifsocial .notif1 .image{    background-position: -0px -50px;}

        .notifsocial .notif2 .image{    background-position: 0px 0px;}

        .notifsocial .notif3 .image{        background-position: -50px 0px;}

        .notifsocial .notif4 .image{        background-position: -50px -50px;}



        @keyframes slideDown {

            0% { transform: translateY(0px); }

            100% { transform: translateY(-10px); }

        }

        .notifsocial {

            animation: slideDown 0.8s ease forwards;

        }







        .choosepointsul2{}



        .choosepointsul2 li{}

        .choosepointsul2 li:nth-child(1){}



        .choosepointsul2 li h3 {height:initial;}



        .statholder{max-width:500px;}



         .statholder .stat{width:50%;float:left;}



        .statholder .stat .svg{    height: 60px;}



        .statholder .stat .counter,#enumber,#fnumber{    font-size: 36px;}



        .statholder .stat{padding-left:74px;}



        .statholder .stat .numdetail{font-size:14px;}



}





@media only screen and (min-width: 992px) {



.leftside .cnwidth{float:none;width: 100%;}





.steps{position: relative;

    padding-left: 234px;}

.steps .title svg{left: 0;}



.choosepointsul li {

    padding-left: 85px;

    width: 360px;}



.choosepointsul li svg{width:57px;}



.choosepointsul li p{font-size:14px;}



.se1desc{margin: 0 auto 49px auto;

    width: 75%;}



    .packages{    width: 31%;float:left;}





/* BUY PAGES */



.showmo{margin-top: 32px;}



        .cnwidth{width:100%;padding:10px;}



.socialproof{display: inline-block;

    margin-top: 30px;}



        .choosepointsul li{    padding: 20px;

    text-align: center;width: 30%;}

    .choosepointsul li svg {

    width: 97px;

    margin-top: 19px;

    margin-bottom: 7px;

    position:unset;}



    .choosepointsul li:nth-child(1),.choosepointsul li:nth-child(2){margin-right:15px;}

    .choosepointsul li:nth-child(3){margin-right:0;}

    .choosepointsul li p {

    margin-top:15px;}





    .choosepointsul2 li {

        padding-left: 111px;

    width: 100%;margin-bottom: 21px;}



.choosepointsul2 li svg {

    width: 73px;

    top: 17px;

}



.choosepointsul2 li h3 {

    font-size:17px;

}



.choosepointsul2 li p{font-size:14px;

    margin-top:15px;}



    .informationpt{margin: 115px 0;bottom:unset;padding-bottom:0;}

    .informationpt h3{font-size:20px;}

    .informationpt img{top: 0;bottom: 0;margin: auto 0;}

    .informationpt p{font-size:15px;}

    .rightimg{padding-right: 275px;}

    .rightimg  img{right:0;}



    .leftimg{padding-left: 275px;}

    .leftimg  img{left:0;}

    .informationptfi{padding-bottom:0;}

    .informationptfi img{width:202px;height: 383px;display:block;top: -9px;}





    .faqcontainer{display: inline-block;width:100%;}



    .faqcontainer .faqchild{    width: 50%;

    display: inline-block;

    float: left;}



    .faqcontainer .faqchild .faq{width: 100%;}



    .cnwidthpackages{max-width:75%;}

    .faqcontainer .faqchild{width:48%;}

    .faqcontainer .faqchild:first-child{margin-right:35px;}





}



@media only screen and (min-width: 1200px) {



.header .cnwidth{padding:10px;}







.logo img,.logo svg{margin-top: -2px;height: 35px;}



.bgbg{    padding-bottom: 30px;}



.leftside{width:60%;}

.rightside{width:40%;}



.header .cnwidth{width:85%;    height: 100%;    padding: 10px 10px 0 10px;}

.footer .cnwidth{max-width: 100%;}







.btn2{width:300px;}



h1{text-align: left;

    font-size: 36px;font-weight:600;

    max-width: 70%;margin-top:0;}

.fedesc{text-align: left;margin-bottom:30px;max-width:60%;padding-left:0;}



.desktopnav{    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

    margin:0;}

.desktopnav li{list-style: none;

    padding: 0 15px;}



.leftside .cnwidth{    width: 100%;

    margin-left: 23%;

    max-width: 77%;

}



.desktopnav li a{    color: #000;

    font-weight: 600;font-size:14px;}

.desktopnav li:last-child{border-right:0;padding-right:0;}

.mobilemenubtn{display: none;}



.cnwidth{width:1100px;}



.btn2{margin: 5px 0;margin-bottom:15px;}



.choosepointsul li{width:30%;margin-right:2%;}

.choosepointsul li:nth-child(3){margin-right:0;}

.choosepointsul li svg{top: 77px;}



.se2{display:block;}



.steps{    margin-bottom: 0;

    width: 60%;

    margin: 0 auto;

    max-width: 900px;}





.se3 .cnwidth{    max-width: 710px;}



.footer .cnwidth{width:1200px;}



.footer .row1{    width: 100%;

    height: 118px;

    box-sizing: border-box;

    border-bottom: 1px solid #ccc;

    margin-bottom: 17px;

    padding-left:0;}



.footer .row1 .logo{position:relative;float:left;height:100%;width:25%;}

.footer .row1 .logo svg{float:left;margin-top:-20px;}



.footer .row1 .footerlinks{width:25%;float:left;margin-bottom: 0;}

.footer .row1 .footerlinks li{float:none;text-align: left;}





.footer .row2{display:block;}



.footer .row2 .copyright {

    color: #737373;

    text-align: right;

    margin: 3px 0;

}



.footer .row2 .accepted {

    width: 320px;

    height: 28px;

    margin-top: 15px;

    background: url(/imgs/all-images.png) 0 0;

    float:right;

}



/* BUY PAGES */



 .socialproof1,.socialproof2{width:50%!important;}



    .cnwidth{max-width:1000px;width:100%;}



    .custrev{

    width: 100%;

    box-sizing: border-box;}



            .cnwidthpackages{max-width:80%;}





}



    @media only screen and (min-width:1500px){



        .desktopnav li{padding: 0 24px;}



        .desktopnav li a {font-size: 17px}



        .cnwidthpackages{max-width:75%;}

    }



a{text-decoration: none;color:#000;}



body{ margin:0;padding:0;}





.cnwdith{padding: 0 15px;}

.color1{background-color: #f5f7fe;}



.header{    height: 65px;

    padding: 9px 15px;

    box-sizing: border-box;

    width: 100%;

    background: #fff;

}



.mobilemenubtn{margin-top:9px;}



.logo{display: inline-block;}

.logo img{height: 32px;margin-top: 8px;}

.logo svg{    width: 164px;

    height: 36px;}

.navigation{float:right;}



.dropdown-content {

  display: none;

  background-color: #f1f1f1;

    background-color: #f1f1f1;

    width: 100%;

}



.dropdown-content a {

  color: black;

  padding: 12px 16px;

  text-decoration: none;

  display: block;

}



.show {display: block;}



.footer{    padding: 15px;

    box-sizing: border-box;

    width: 100%;

    background: #fff;border-top:1px solid #ccc;}



.footer .row1{text-align: left;}



.footer .row1 .logo {

    position: relative;

    float: none;

    height: 47px;

    width: 100%;

    display: block;

    float: none;

    padding: 15px 0;

}



.footer .row1 .footerlinks{width: 100%;

    padding: 0;

    list-style: none;

    margin: 0;

    margin-bottom: 30px;}

.footer .row1 .footerlinks li{padding:0;font-size:14px;}

.footer .row1 .footerlinks li:first-child{font-weight: bold;font-size:16px;}

.footer .row1 .footerlinks li a{color:#000;}

.footer .row1 .footerlinks li a:hover{text-decoration: underline;}



.footer .row2{    text-align: left;}



.footer  .row2 .accepted{width:320px;height:28px;margin-top:15px;background: url('/imgs/all-images.png') 0 0;}

.footer  .row2 .copyright{color:#737373;font-size: 14px;}





.error{display:none!important;font-size:14px;color:#ff2626!important;    margin: 0!important;}



.fe{width:100%;padding-bottom:20px;}

.se1{text-align: center;padding: 20px;}



.btn2{color:#000;background:#fff;margin-bottom:10px;}



h1{font-size:31px;padding-top:17px;margin:0;}

h2{font-size:28px;font-weight:600;}







.bgbg{background-image: url('/imgs/header-bg.png');}



.color3,.owl-nav .owl-prev,.owl-nav .owl-next,.owl-theme .owl-nav [class*=owl-],.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{

background: #f60f27;

background: -moz-linear-gradient(top,  #f60f27 1%, #eb2196 100%);

background: -webkit-linear-gradient(top,  #f60f27 1%,#eb2196 100%);

background: linear-gradient(to bottom,  #f60f27 1%,#eb2196 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f60f27', endColorstr='#eb2196',GradientType=0 );

}





.color4,.faqcontainer .faq .opentitle .btnicon{

    background: #2847ff;

}



.color5{background:#fb2b41;}



.fedesc{font-size: 18px;

    margin: 48px 0;

    line-height: 26px;}





.se1desc{font-size:13px;display:block;text-align:center;margin-bottom:25px;}



.steps{text-align: center;

    height: initial;margin:57px 0;}

 .step1{}

 .step3{}

.steps .title {display: inline-block;

    width: 100%;}

.steps .title svg{    position: relative;

    width: 110px;

    fill: url(#color3) #f11962;}

.steps p{    font-size: 13px;

    margin-top: 0;text-align: left}

.steps h3{    width: 100%;

    float: none;

    margin-left: 0;

    box-sizing: border-box;

    height: initial;margin-bottom:20px;text-align:left;}



.choosepointsul{    margin: 0;

    padding: 0;}



.choosepointsul li{    background: #fff;

    width: 100%;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;

    box-sizing: border-box;

    display:inline-block;

    text-align: left;

    padding-left:71px;

    position:relative;

}





.choosepointsul li p{display:block;font-size:12px;}

.choosepointsul li svg{    width: 42px;

    position: absolute;

    left: 12px;

    top: 26%;

    fill: url(#color3) #479;}

.choosepointsul li h3{margin-left: 0;

    display: block;

    width: 100%;font-weight:600;

    margin-bottom: 5px;}





.container{

  overflow: hidden;height:250px;





}



.testbtn{background:#2e00f4;overflow: hidden}



.sliding-background {

  background: url("/imgs/scrolling-div.png") repeat-x;

  height: 149px;

  width: 5000px;

  animation: slide 40s linear infinite;margin-top:50px;

}



@keyframes slide{

  0%{

    transform: translate3d(0, 0, 0);

  }

  100%{

    transform: translate3d(-1221px, 0, 0);

  }

}



.dshadow{

-webkit-box-shadow: -1px 0px 5px 1px rgba(230,230,230,1);

-moz-box-shadow: -1px 0px 5px 1px rgba(230,230,230,1);

box-shadow: -1px 0px 5px 1px rgba(230,230,230,1);

}



.testimonial{padding: 0 35px;font-size:13px;font-style: italic;}

.testbtn{ width: 60px;

    height: 37px;

    -webkit-border-radius: 4px;

    -moz-border-radius: 4px;

    border-radius: 4px;

    margin: 5px auto;

    border:1px solid #2100ae;}

.testbtn a{padding: 7px;display:block;float:left;}

.testbtn .bordertest{border-right:1px solid #2100ae;}



 .speechmark{height:30px;position:absolute;    top: 30px;

    left: 0px}

 .sm2{    right: 0;

    left: unset;}



.packages{    text-align: center;

    padding: 10px 17px;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;

       margin-bottom: 52px;}

.packages svg{width: 50px;margin: 0 auto;fill: url(#color3) #479;}

.packages a{}







#slides{

    position: relative;

    height: 150px;

    margin: 0px;

    list-style-type: none;

    font-size: 13px;

    font-style: italic;

}



.slide{

    position: absolute;

    left: 0px;

    top: 0px;

    width: 100%;

    height: 100%;

    opacity: 0;

    z-index: 1;

    padding: 0 35px;

    -webkit-transition: opacity 1s;

    -moz-transition: opacity 1s;

    -o-transition: opacity 1s;

    transition: opacity 1s;

        box-sizing: border-box;

}



.showing{

    opacity: 1;

    z-index: 2;

}



.desktopnav{display:none;}





/* BUY PAGES */



.showmo{margin-top: 15px;}



        .socialproof1{display:none;}

        .socialproof2{width:100%;}



    

        .bs{height: 100%;

        position: absolute;

        width: 90px;

        z-index: 2;display: block;}



        .bs.left{left:0;

                    background: -moz-linear-gradient(left, #f5f7fe 0%, rgba(255,255,255,0) 100%);

        background: -webkit-linear-gradient(left,  #f5f7fe 0%,rgba(255,255,255,0) 100%);

        background: linear-gradient(to right,  #f5f7fe 0%,rgba(255,255,255,0) 100%);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7fe', endColorstr='#00f5f7fe',GradientType=1 );

        }



        .bs.right{right:0;

        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, #f5f7fe 100%);

        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,#f5f7fe 100%);

        background: linear-gradient(to right,  rgba(255,255,255,0) 0%, #f5f7fe 100%);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f7fe', endColorstr='#f5f7fe',GradientType=1 );

        }



    .owlcontainer{width: 100%;

    z-index: 2;position:relative;margin:auto;height:580px;}



    .owl-theme .item{background:#fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:1px solid #bfbfbf;margin-top:25px;}

    

    .owl-theme  .item .pricecut{position: absolute;

    margin: 0 auto;

    top: 13px;

    font-size: 14px;

    left: 0;

    right: 0;

    display: inline-block;

    background: #febd69;

    width: 140px;

    height: 32px;

    line-height: 32px;

    -webkit-border-top-left-radius: 5px;

    -webkit-border-top-right-radius: 5px;

    -moz-border-radius-topleft: 5px;

    -moz-border-radius-topright: 5px;

    border-top-left-radius: 5px;

    border-top-right-radius: 5px;

    border: 1px solid #ccc;

    border-bottom: 0;}



    .owl-theme .item .brought{margin-bottom: 8px;

    margin-top: 0;font-size:13px;font-style: italic;color:#585858;}





    .owl-theme .item .amount{    font-weight: 700;}

    .owl-theme .item .amount .label{

    font-weight: 400;

    font-size: 16px;

    margin-top: -6px;

    display: block;}

    .owl-theme .item .price{

    line-height: 52px;

    font-size: 39px;color:#fff;}

    .owl-theme .item .mainprice{    display: inline-block;

    font-weight: 300;

    font-size: 34px;}

    .owl-theme .item .price .sign{font-size:16px;}

    .owl-theme .item .price .decimal{font-size:12px;}

    .owl-theme .item .listctn{    list-style: none;

    margin: 0;

    padding: 0;

    font-size: 12px;

    text-align: left;margin-top:20px;

    display: inline-block;}

    .owl-theme .item .listctn li{    margin: 0;

    padding:3px;padding-left: 28px;

    line-height: 30px;font-weight:400;

    position:relative;}

    .owl-theme .item .listctn li .tick{    width: 20px;

    height: 20px;

    background: url(/imgs/all-images.png) no-repeat 0 -26px;

    display: block;

    position: absolute;

    left: 0;

    top: 9px;

}

    .owl-theme .item .buyctn{padding: 20px 20px 10px 20px;}

    .owl-theme .item .buyctn .btn{width:70%;}



   



    .owl-nav .owl-prev,.owl-nav .owl-next,.owl-theme .owl-nav [class*=owl-],.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{   margin: 10px 0!important;

    padding: 8px!important;

    }



    .owl-prev,.owl-next{border: 1px solid #4100bb;height:40px;}

    .owl-prev{border-right:0;-webkit-border-top-left-radius: 5px;

-webkit-border-bottom-left-radius: 5px;

-moz-border-radius-topleft: 5px;

-moz-border-radius-bottomleft: 5px;

border-top-left-radius: 5px;

border-bottom-left-radius: 5px;}

    .owl-next{-webkit-border-top-right-radius: 5px;

-webkit-border-bottom-right-radius: 5px;

-moz-border-radius-topright: 5px;

-moz-border-radius-bottomright: 5px;

border-top-right-radius: 5px;

border-bottom-right-radius: 5px;}



        .navbtn{    height: 50px;

    width: 50px;

    -webkit-border-radius: 50px;

    -moz-border-radius: 50px;

    border-radius: 50px;

    background: #4e5c75;

    display: block;

    padding-top: 17px;

    box-sizing: border-box;

    position: absolute;

    top:40%;}

    .navbtn svg{height: 18px}

    .customPrevBtn{left: 20px;}

    .customNextBtn{right:20px;}







    .informationpt{position: relative;text-align: left;padding-bottom:220px;margin: 30px 0 80px 0;}

    .informationpt h3{display:block;width:100%;margin: 0 0 15px 0;font-size:18px;}

    .informationpt p, .informationpt ul li{font-size:14px;color:#4c4c4c;}

    .informationpt p a{text-decoration: underline;color:#193054;}

    .informationpt img{position: absolute;bottom:0;width:207px;height:184px;}

    .informationptfi{padding-bottom: 370px;}

    .informationptfi img{    width: 179px;

    height: initial;}





    .faqcontainer .faqchild .showfaq{border:1px solid #ccc;background: #fff;}

    .faqcontainer .faqchild .showfaq .opentitle{color:#000;font-weight:bold;}

    .faqcontainer .faqchild .showfaq .message{display:block!important;}

    .faqcontainer .faqchild .showfaq .opentitle .btnicon{}



    .faqcontainer .faqchild .faq .opentitle h3{float: none;

    margin: 0;}





    .reviewbox{text-align: left;background:#fff; -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;box-sizing:border-box;padding:9px;}

    .reviewbox .title{padding-left: 59px;

    position: relative;

    line-height: 54px;}

    .reviewbox .title svg{    left: 12px;

    top: 10px;

    position: absolute;

    height: 30px;}

    .reviewbox input.btn{width:90%;border:0;margin:10px;}

    .reviewinput{text-align: left;}

    .reviewinput tr td{padding:3px;font-size:13px;    vertical-align: top;}

    .reviewinput tr td input,.reviewinput tr td textarea{border:1px solid #ccc;width:100%;padding:3px;box-sizing: border-box;}



    .rating{display:inline-block;position:relative;font-size: 27px!important;

    line-height: 15px!important;}

    .rating label{position:absolute;    top: 3px;

    left: 3px;height:100%;cursor:pointer;}

    .rating label:last-child{position:static;}

    .rating label:nth-child(1){z-index:5;}

    .rating label:nth-child(2){z-index:4;}

    .rating label:nth-child(3){z-index:3;}

    .rating label:nth-child(4){z-index:2;}

    .rating label:nth-child(5){z-index:1;}

    .rating label input{position:absolute;top:0;left:0;opacity:0;}

    .rating label .icon{float:left;color:transparent;}

    .rating label:last-child .icon{color:#000;}

    .rating:not(:hover) label input:checked ~ .icon,.rating:hover label:hover input ~ .icon{color:#2e00f4;}

    .rating label input:focus:not(:checked) ~ .icon:last-child{color:#000;text-shadow:0 0 5px #09f;}



    .testimonialsmainrow{display:inline-block;}



    .testimonialsbox .test{text-align:left;padding: 12px;

        background-color: #f9f9f9;

        border-radius: 5px;

        width: 100%;

        float: left;

        margin: 5px;

        box-sizing: border-box;}

    .testimonialsbox .test .name{font-size: 13px;

        font-weight: 400;

        color: #676767cc;

        margin-top: 9px;

        display: block;}

    .testimonialsbox .test .tratingbg{    height: 27px;

    color: #2e00f4;

    font-size: 19px;

    line-height: 21px;}



    .testimonialsbox .test .review{    margin: 0;

    

    font-size: 13px;

     overflow: hidden;

   text-overflow: ellipsis;

   display: -webkit-box;

   line-height: 16px;

   max-height: 50px; 

   -webkit-box-orient: vertical;

   color: #4e4e4e;    -webkit-line-clamp: 2;

}



    .testimonialsbox{max-height: 475px;

    overflow: hidden;}

    .testimonialsboxsho{overflow-y:scroll;}

    .testimonialsbox .test .testfeat {font-size:12px;color:#ccc;margin-top:7px;}

    .testimonialsbox .test .testfeat a{color:#4f4f4f;}

    .testimonialsbox .test .showmorerev{    overflow: unset;

    max-height: none;

    -webkit-line-clamp: unset;

    -webkit-box-orient: unset;

    text-overflow: unset;}

    .testimonialsbox .test .more{font-size:13px;}







    .testimonialsbox .test .title{font-weight: 700;

    font-size: 13px;    

    float: none!important;

    margin: 0;

    margin-bottom: 10px;

    height:initial;}











    .testp{width: 100%;padding:10px;box-sizing:border-box;float:none;display:none;}

    .testp .testpbox{width:100%;background-color: #f9f9f9;    padding: 28px 14px;

        box-sizing: border-box;-webkit-border-radius: 7px;

    -moz-border-radius: 7px;

    border-radius: 7px;position: relative;height:321px;}

    .testp .testpbox .rating{    color: #2e00f4;

        font-size: 19px;margin-bottom: 23px;}

    .testp .testpbox .quote{    font-size: 14px;margin-bottom: 23px;}

    .testp .testpbox .name{font-size: 14px;

        color: #868b90;

        margin-bottom: 21px;}

    .testp .testpbox .logo{text-align:center;float:none;}

    .testp .testpbox .arrow{    background-color: #f9f9f9;width:22px;height:22px;

        -webkit-transform: rotate(45deg) translate(-50%, 0px);

        -ms-transform: rotate(45deg) translate(-50%, 0px);

        transform: rotate(45deg) translate(-50%, 0px);

        position: absolute;

        left: 50%;

        bottom: -19px;}

    .testp .testpimg{text-align: center;margin-top: 37px;}

    .testp .testpimg img{width: 60px;height:60px;}











    .btn3{    color: #000;

    border: 1px solid #000;

    background: transparent;

    font-size: 15px;

    padding: 6px;

    width: 220px;

    font-weight: 400;}



    .emailsuccess{    background: #a3ffa3;

    padding: 8px;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;}



    .emailfailed{background:#ffadb8;}





    .testimonialsbox .test .location{font-size: 13px;

    font-style: italic;}



    .h1desc{width:80%;}



    .owl-theme .item .price {

        height: 72px;

        line-height: 67px;

        font-size: 39px;

    }



    .choosepointsul2{    margin: 0;

    padding: 0;}



.choosepointsul2 li{    background: #fff;

    width: 100%;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 5px;

    box-sizing: border-box;

    display:inline-block;

    text-align: left;

    padding-left:71px;

    position:relative;

}





.choosepointsul2 li p{display:block;font-size:12px;}

.choosepointsul2 li svg{    width: 42px;

    position: absolute;

    left: 12px;

    top: 26%;}

.choosepointsul2 li h3{margin-left: 0;

    display: block;

    width: 100%;

    margin-bottom: 5px;}





    .choosepointsul2 li svg,.choosepointsul2 li svg{fill: url(#color3) #447799;}



        .stickyheader {

      padding: 7px 0;

      background: #fff;

      width: 100%;

      -webkit-transition: position 10s;

      -moz-transition: position 10s;

      -ms-transition: position 10s;

      -o-transition: position 10s;

      transition: position 10s;

      display:none;

      position: fixed;

      top: 0;

      left: 0;

      z-index:9997;

      text-align: center;}



    .cnwidthpackagesh2{margin: 20px 50px;}

    



    .textcolor3{-webkit-background-clip: text;

  -webkit-text-fill-color: transparent;}





@media only screen and (min-width: 768px) {



    .header{    height: 67px;

       padding: 0;}

.cnwidth{width:95%;display:inline-block;padding: 12px;

    box-sizing: border-box;}



.logo img{margin-top:17px;}



.mobilemenubtn {margin-top: 18px;}



    .fe{display:inline-block;padding-bottom:0;}

    .bgbg{min-height:431px;}



    .steps{height:210px;padding-left:203px;text-align: left}

    .steps p{font-size: 15px;}

    .steps h3{    padding-top: 8px;}

    .steps .title svg {

    position: absolute;

    left: 18px;

    width: 160px;}



    h2{    font-size: 33px;}



    .se1desc{font-size: 16px;margin-bottom:49px;}

    .choosepointsul{    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;

    width: 100%;

    margin: 0;

    padding: 0;

    list-style: none outside none;}



    .choosepointsul li{width:300px;padding-right:10px;}

    .choosepointsul li:nth-child(1){margin-right:15px;}



    .choosepointsul li h3 {height:initial;}



    .se2{display:inline-block;}



    .packages{    float: left;

    width: 225px;

    box-sizing:border-box;

    margin: 7px;}

    .packages .btn{    width: 100%;

    box-sizing: border-box;margin-top:30px;}

    .packages svg{width:70px;}

    .se2 .dshadow{    box-shadow: none;-moz-box-shadow:none;-webkit-box-shadow:none;}



    .packagescentre{margin:auto;float:unset;}





/* BUY PAGES */







        .socialproof1,.socialproof2{float:left;height:100%;display:block;}

        .socialproof1{width:40%;position: relative;}

        .socialproof2{width:60%;}

        .socialproof1 .mobiledemo{}



        .owlcontainer{height:initial;margin-bottom:50px;}



        .d2shadow{box-shadow: 0px 0px 22px -8px rgba(0,0,0,.42);}



        .testp{width: 33%;float:left;display:block;}



        .testimonialsboxalign,.reviewbox{float:left;width:50%;box-sizing:border-box;}

        .custrev{display:inline-block;}

        .testimonialsbox{padding-left: 23px;max-height:428px;}

        .testimonialsbox .test{width:46%;    height: 147px;

    margin: 13px;}



        .reviewinput{width: 100%;}



        .bs {

            height: 100%;

            position: absolute;

            width: 99px;

            z-index: 2;

            display: block;

        }



        .notifsocial{

            position: absolute;

            bottom: 20px;

            left: 58px;

            z-index: 9995 !important;

            width: 270px;

            height: 70px;

            text-align: left;

            box-sizing: border-box;

            font-weight: 400;

            -webkit-border-radius: 6px;

            -moz-border-radius: 6px;

            border-radius: 6px;

            background-color: #fff;

            overflow: hidden;

            margin-left: auto;

            margin-right: auto;

            left: 0;

            right: 0;

            /*display:none;*/



            }



        .notifsocial .notif4{opacity:1;display:block;}



        .notifsocial div{display:none;opacity:0;

            width: 270px;

            height: 70px;    padding: 10px 10px 10px 70px;

            box-sizing: border-box;font-size:14px;position: relative;}



        .notifsocial div .image{opacity:1;display:block;width:50px;height:50px;-webkit-border-radius: 50px;

        -moz-border-radius: 50px;

        border-radius: 50px;background: url('/imgs/displaypictures.jpg') no-repeat;position:absolute;left:10px;padding:0;}

        .notifsocial div .name1{font-weight:bold;}

        .notifsocial div .text{}

        .notifsocial div .time{color: #afafaf;}

         

        .notifsocial div.visual {display:block;opacity: 1;}



        .notifsocial .notif1 .image{    background-position: -0px -50px;}

        .notifsocial .notif2 .image{    background-position: 0px 0px;}

        .notifsocial .notif3 .image{        background-position: -50px 0px;}

        .notifsocial .notif4 .image{        background-position: -50px -50px;}



        @keyframes slideDown {

            0% { transform: translateY(0px); }

            100% { transform: translateY(-10px); }

        }

        .notifsocial {

            animation: slideDown 0.8s ease forwards;

        }







        .choosepointsul2{}



        .choosepointsul2 li{}

        .choosepointsul2 li:nth-child(1){}



        .choosepointsul2 li h3 {height:initial;}



        .statholder{max-width:500px;}



         .statholder .stat{width:50%;float:left;}



        .statholder .stat .svg{    height: 60px;}



        .statholder .stat .counter,#enumber,#fnumber{    font-size: 36px;}



        .statholder .stat{padding-left:74px;}



        .statholder .stat .numdetail{font-size:14px;}



}





@media only screen and (min-width: 992px) {



.cnwidthpackages{max-width:100%;}



.leftside .cnwidth{float:none;width: 100%;}





.steps{position: relative;

    padding-left: 234px;}

.steps .title svg{left: 0;}



.choosepointsul li {

    padding-left: 85px;

    width: 360px;}



.choosepointsul li svg{width:57px;}



.choosepointsul li p{font-size:14px;}



.se1desc{margin: 0 auto 49px auto;

    width: 75%;}



    .packages{    width: 31%;float:left;}





/* BUY PAGES */



.showmo{margin-top: 32px;}



        .cnwidth{width:100%;padding:10px;}



.socialproof{display: inline-block;

    margin-top: 30px;}



        .choosepointsul li{    padding: 20px;

    text-align: center;width: 30%;}

    .choosepointsul li svg {

    width: 97px;

    margin-top: 19px;

    margin-bottom: 7px;

    position:unset;}



    .choosepointsul li:nth-child(1),.choosepointsul li:nth-child(2){margin-right:15px;}

    .choosepointsul li:nth-child(3){margin-right:0;}

    .choosepointsul li p {

    margin-top:15px;}





    .choosepointsul2 li {

        padding-left: 111px;

    width: 100%;margin-bottom: 21px;}



.choosepointsul2 li svg {

    width: 73px;

    top: 17px;

}



.choosepointsul2 li h3 {

    font-size:17px;

}



.choosepointsul2 li p{font-size:14px;

    margin-top:15px;}



    .informationpt{margin: 115px 0;bottom:unset;padding-bottom:0;}

    .informationpt h3{font-size:20px;}

    .informationpt img{top: 0;bottom: 0;margin: auto 0;}

    .informationpt p{font-size:15px;}

    .rightimg{padding-right: 275px;}

    .rightimg  img{right:0;}



    .leftimg{padding-left: 275px;}

    .leftimg  img{left:0;}

    .informationptfi{padding-bottom:0;}

    .informationptfi img{width:202px;height: 383px;display:block;top: -9px;}





    .faqcontainer{display: inline-block;width:100%;}



    .faqcontainer .faqchild{    width: 50%;

    display: inline-block;

    float: left;}



    .faqcontainer .faqchild .faq{width: 100%;}



    .faqcontainer .faqchild{width:48%;}

    .faqcontainer .faqchild:first-child{margin-right:35px;}





}



@media only screen and (min-width: 1200px) {



.navigation{height: 100%;}



.logo img,.logo svg{margin-top:7px;}



.bgbg{    padding-bottom: 30px;}



.leftside{width:60%;}

.rightside{width:40%;}



.footer .cnwidth{max-width: 100%;}



.btn2{width:300px;}



h1{text-align: left;

    font-size: 36px;

    max-width: 70%;margin-top:0;}

.fedesc{text-align: left;margin-bottom:30px;max-width:60%;padding-left:0;}



.desktopnav{    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

    margin:0;height:100%;}

.desktopnav li{list-style: none;

    padding: 0 10px;margin: 0 5px;padding-top: 11px;box-sizing:border-box;}



.leftside .cnwidth{    width: 100%;

    margin-left: 23%;

    max-width: 77%;

}



.mobilemenubtn{display: none;}



.cnwidth{width:1100px;}



.btn2{margin: 5px 0;margin-bottom:15px;}



.choosepointsul li{width:30%;margin-right:2%;}

.choosepointsul li:nth-child(3){margin-right:0;}

.choosepointsul li svg{top: 77px;}



.se2{display:block;}



.steps{    margin-bottom: 0;

    width: 60%;

    margin: 0 auto;

    max-width: 900px;}





.se3 .cnwidth{    max-width: 710px;}



.dshadow2{-webkit-box-shadow: 0px 0px 4px 0px rgba(93,29,153,1);

-moz-box-shadow: 0px 0px 4px 0px rgba(93,29,153,1);

box-shadow: 0px 0px 4px 0px rgba(93,29,153,1);}



.footer .cnwidth{width:1200px;}



.footer .row1{    width: 100%;

    height: 118px;

    box-sizing: border-box;

    border-bottom: 1px solid #ccc;

    margin-bottom: 17px;

    padding-left:0;}



.footer .row1 .logo{position:relative;float:left;height:100%;width:25%;}

.footer .row1 .logo svg{float:left;margin-top:-20px;}



.footer .row1 .footerlinks{width:25%;float:left;margin-bottom: 0;}

.footer .row1 .footerlinks li{float:none;text-align: left;}





.footer .row2{display:block;}



.footer .row2 .copyright {

    color: #737373;

    text-align: right;

    margin: 3px 0;

}



.footer .row2 .accepted {

    width: 320px;

    height: 28px;

    margin-top: 15px;

    background: url(/imgs/all-images.png) 0 0;

    float:right;

}



/* BUY PAGES */



 .socialproof1,.socialproof2{width:50%!important;}



    .cnwidth{max-width:1000px;width:100%;}



    .custrev{

    width: 100%;

    box-sizing: border-box;}



            .cnwidthpackages{max-width:80%;}



            .headerMenuUI{

                float: right !important;

            }

            .accountbtn{

                display: none;

            }

            .logoMin1200{
                float:left;
            }

}



    @media only screen and (min-width:1500px){



        .desktopnav li{padding-left: 0;margin: 0 15px;}



        .desktopnav li a {font-size: 15px}



        .cnwidthpackages{max-width:75%;}

    }





