name: Dev Deployment

on:
  push:
    branches: [ "dev" ]
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - uses: actions/checkout@v4
    - name: SSH Deploy
      run: echo "Example dev deployment"
