name: Stage Deployment

on:
  push:
    branches: [ "stage" ]
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: stage
    steps:
    - uses: actions/checkout@v4
    - name: SSH Deploy
      run: echo "Example stage deployment"
